body{
	background-color: white;
	background-image: url('../images/cloud.jpg');
	background-position: top right;
	background-repeat: no-repeat;
}




/******************************************/
/**  MUltiPlayer Table **/
/******************************************/
#mp_header{
	border: 1px solid #789ABC;	
	padding: 10px 20px 10px 20px;
	background-color: #efefef;
	border-radius: 10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
}
#mp_header table{
	width: 100%;
	font-family: sans-serif;
}
#mp_header table th{
	text-align:left;
}

#mp_header table td{
	padding: 0px;
}

/* label */
#mp_header table td.mp_label{
	ssbackground-color: #dddddd;
	font-size: 9pt;
	text-align: right;
	width: 100px;
	padding-left: 10px;
	border-bottom: 1px solid #aaaaaa;
}
#mp_header table td.mp_label a{
	text-decoration: none;
	color: #444444;
	ssbackground-color: red;
	display: block;
	padding: 5px;
	border-top: 1px solid white;
	border-left: 1px solid white;
}

#mp_header table td.mp_label a:hover{
	text-decoration: none;
	color: blue;
	background-color: #A9D4F7;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	
}
/* value */
#mp_header table td.mp_value{
	font-size: 9pt;
	background-color: white;
	border: 1px solid #aaaaaa;
	text-align: center;
	width: 50px;
}



/***************************************/
/** Content Container **/
#content_container{
	margin-left: 200px;
}


/***************************************************/
/* Inter Site Navigation */
/**************************************************/

#sites_nav li a
{
	border: 2px solid #8CB0DB;
	border-radius: 7px;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
}


/******************************************/
/** Panel Box **/
/*****************************************/
.panel_box{
	margin-bottom: 30px;
	border-right: 1px solid #dddddd;
}

.panel_box h3{
	color: #444444;
	background-color: #ABB5C9;
	border: 1px solid #dddddd;
	border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px; 
	-webkit-border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px; 
	-webkit-border-bottom-left-radius: 10px;
}







/******************************************/
/** Content Box **/
/******************************************/
#content_box h1{
	border: 1px solid #A0C9E9;
	border-radius: 3px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
}







/********************************************************************/
/** Page Navigation ***/
/********************************************************************/


#page_nav a{
	color: #3E5E87;
	background-color: #efefef;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-left: 10px solid #dddddd;
	border-right: 10px solid #dddddd;
}

#page_nav a:hover{
	background-color: #dddddd;
	color: #444444;
	border-left-color: #91B6DF;
	border-right-color: #91B6DF;
}

#page_nav a.selected{
	border-left-color: #445577;
	border-right-color: #445577;
	background-color: #D7E8EC;
}



