body{
	background-color: white;
	background-image: url('../images/cloud.jpg');
	background-position: top right;
	background-repeat: no-repeat;
}


.toolbar .box{
	border-color: #3E5E87;
	border-radius: 10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
}

/***************************************************/
/* Inter Site Navigation */
/**************************************************/

#sites_nav li a
{
	border: 2px solid #8CB0DB;
	border-radius: 7px;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
}


/******************************************/
/** Panel Box **/
/*****************************************/
.panel_box h3{
	border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px; 
	-webkit-border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px; 
	-webkit-border-bottom-left-radius: 10px;
}


/******************************************/
/** Content Box **/
/******************************************/
#content_box h1{
	border: 1px solid #3E5E87;
	color: #224275;
	border-radius: 3px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
}







/********************************************************************/
/** Page Navigation ***/
/********************************************************************/


#page_nav a{
	color: #3E5E87;
	background-color: #efefef;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-left: 10px solid #dddddd;
	border-right: 10px solid #dddddd;
}

#page_nav a:hover{
	background-color: #dddddd;
	color: #444444;
	border-left-color: #91B6DF;
	border-right-color: #91B6DF;
}

#page_nav a.selected{
	border-left-color: #445577;
	border-right-color: #445577;
	background-color: #D7E8EC;
}



