
/***************************************/
/* Unique Items */
/***************************************/

/* Trademark */
.tm{
	color: #000066;
	font-family: serif;
}

/* Multiplayer server status */
.status_down{
	color: #990000;
	background-color: #FFE1DB;
	display: block;
}
.status_up{
	color: #009900;
	background-color: #E7FAE2;
	display: block;
}


/* Buttons */
a.download_button {
	border: 2px outset #dddddd;
	text-decoration: none;
	background-color: #425F8C;
	color: white;
	margin: 20px;
	padding: 5px;
	font-family: sans-serif;
	font-size: 10pt;
}
a.download_button:hover {
	text-decoration: none;
	background-color: #84A7D6;
	color: black;
	margin: 20px;
	padding: 5px;
	font-family: sans-serif;
	font-size: 10pt;
}

a.refresh_button {
	border: 2px outset #dddddd;
	text-decoration: none;
	background-color: #AEB7C3;
	color: black;
	margin: 20px;
	padding: 2px 10px;
	font-family: sans-serif;
	font-size: 9pt;
}
a.refresh_button:hover {
	background-color: #D0D8E4;
	color: #000099;
}



/****************************************************************************/
/* Containers */
/***************************************************************************/
/*

  ---------- main_container -------------
   left_container | right_continer

   logo           | sites_nav
   page_nav       | top_banner
                  | content  | right_box
*/

body{
	background-color: white;
	background-image: url('../images/cloud.jpg');
	background-position: top right;
	background-repeat: no-repeat;
}

#main_container{
	max-width: 1100px;
	margin: 20px auto;
}

/***************************************/
/** Left Container **/
#left_container{
	float: left;
	width: 180px;
}
 /** THis height needs to be same as header_container **/
#left_container #flightgear_logo_box{
	height: 200px;
	border-right: 1px outset #efefef;
	border-radius: 10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
} 
#left_container #flightgear_logo img{
	ssborder: 1px outset #dddddd;
	margin: 0px;
	padding: 10px;
	background-color: white;

}
/***************************************/
/** Header Container **/
#header_container{
	margin-left: 200px;
	margin-bottom: 5px;
	height: 200px;
	font-family: sans-serif;
	ssbackground-color: red;
}

#header_container h1{
	margin-bottom: 5px;
	font-size: 13pt;
	color: #888888;
	width: 33%;
}
#header_container h2{
	margin-bottom: 10px;
	font-size: 8pt;
	color: #888888;
	margin-bottom: 20px;
}

/******************************************/
/**  MUltiPlayer Table **/
/******************************************/
#mp_header{
	border: 1px solid #789ABC;	
	padding: 10px 20px 10px 20px;
	background-color: #efefef;
	border-radius: 10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
}
#mp_header table{
	width: 100%;
	font-family: sans-serif;
}
#mp_header table th{
	text-align:left;
}

#mp_header table td{
	padding: 0px;
}

/* label */
#mp_header table td.mp_label{
	ssbackground-color: #dddddd;
	font-size: 9pt;
	text-align: right;
	width: 100px;
	padding-left: 10px;
	border-bottom: 1px solid #aaaaaa;
}
#mp_header table td.mp_label a{
	text-decoration: none;
	color: #444444;
	ssbackground-color: red;
	display: block;
	padding: 5px;
	border-top: 1px solid white;
	border-left: 1px solid white;
}

#mp_header table td.mp_label a:hover{
	text-decoration: none;
	color: blue;
	background-color: #A9D4F7;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	
}
/* value */
#mp_header table td.mp_value{
	font-size: 9pt;
	background-color: white;
	border: 1px solid #aaaaaa;
	text-align: center;
	width: 50px;
}



/***************************************/
/** Content Container **/
#content_container{
	margin-left: 200px;
}


/***************************************************/
/* Inter Site Navigation */
/**************************************************/
#sites_nav {
	float: right;
	height: 50px;
}
#sites_nav ul
{
	padding: 0px 1px 1px;
	margin-left: 0px;
	margin-top: 10px;
	font: bold 10pt  sans-serif;
	background-color: #035EAC;
}

#sites_nav li
{
	list-style: none;
	margin: 0px;
	display: inline;
}

#sites_nav li a
{
	padding: 2px 10px 2px 10px;
	color: black;
	background: #dddddd;
	text-decoration: none;
	border: 2px solid #8CB0DB;
	border-radius: 7px;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
}


#sites_nav li a:hover
{
	border-color: #ccccbb;
	color: black;
	background: #D6E7EB;
}

#sites_nav li a.selected{
	border: 2px solid #134F8B;
	background: #A0C9E9;
}



/******************************************/
/** Right Box **/
/******************************************/
#right_box{
	float: right;
	width: 200px;
	padding-left: 10px;
	min-height: 500px;
}


#right_box table{
	font-size: 9pt;
	font-family: sans-serif;
}

#right_box table td{
	padding: 5px;
}

/******************************************/
/** Panel Box **/
/*****************************************/
#right_box .panel_box{
	margin-bottom: 30px;
	border-right: 1px solid #dddddd;
}

#right_box .panel_box h3{
	color: #444444;
	background-color: #ABB5C9;
	border: 1px solid #dddddd;
	padding: 4px 4px 4px 10px;
	font-size: 10pt;
	font-family: sans-serif;
	border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px; 
	-webkit-border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px; 
	-webkit-border-bottom-left-radius: 10px;
}

#right_box .panel_box p{
	margin: 10px;
	font-size: 10pt;
	font-family: sans-serif;
	line-height: 130%;
}

#right_box .panel_box li {
	margin: 5px 10px 5px 30px;
	font-size: 10pt;
	font-family: sans-serif;
	line-height: 130%;
	list-style-type: circle;
}


/******************************************/
/** Notam Box **/
/**********************************/

.notam_box h3{
	color: #444444;
	background-color: #FFFFA7;
	border: 1px solid yellow;
	padding: 4px 4px 4px 10px;
	font-size: 10pt;
	font-family: sans-serif;
	border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px; 
	-webkit-border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px; 
	-webkit-border-bottom-left-radius: 10px;
}

.notam_box p{
	margin: 10px;
	font-size: 10pt;
	font-family: sans-serif;
	line-height: 130%;
}




/******************************************/
/** Important Box **/
/******************************************/
.important_box{
	border: 1px solid #FFC69D;
	background-color: #FFE99D;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.important_box img{
	float: right;
	margin: 3px;
	padding: 3px;
	background-color: white;
}

.important_box h5{
	margin-left: 30px;
	color: black;
	font-family: sans-serif;
}




/******************************************/
/** Content Box **/
/******************************************/
#content_box{
	margin-right: 240px;
}
#content_box h1{
	background-color: #eeeeee;
	color: #444444;
	padding: 5px 0px 5px 15px;
	margin-bottom: 10px;
	font-family: sans-serif;
	font-size: 16pt;
	border: 1px solid #A0C9E9;
	border-radius: 3px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
}

#content_box h2{
	margin-left: 30px;
	padding-bottom: 2px;
	padding-top: 20px;
	margin-right: 30px;
	font-family: sans-serif;
	margin-top: 25px;
	margin-bottom: 10px;
	border-bottom: 1px solid #bbbbbb;
	font-size: 14pt;
	
}
#content_box h3{
	margin-left: 45px;
	margin-right: 30px;
	font-family: sans-serif;
	margin-top: 25px;
	margin-bottom: 5px solid #eeeeee;
	font-size: 12pt;
}

#content_box p{
	font-size: 10pt;
	font-family: sans-serif;
	line-height: 130%;
	margin-top: 5px;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 10px;
}
#content_box ol{
	font-size: 10pt;
	font-family: sans-serif;
	line-height: 130%;
	margin-top: 5px;
	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 10px;
	list-style-type: decimal;
}
#content_box ul{
	font-size: 10pt;
	font-family: sans-serif;
	line-height: 130%;
	margin-top: 5px;
	margin-left: 90px;
	margin-right: 10px;
	margin-bottom: 10px;
	list-style-type: disc;
}

#content_box li p{
	margin-left: 10px;
	margin-right: 50px;
}



#content_box .back_link_block{
	text-align: right;
	margin-right: 0px;
}

#content_box  .back_link_block a{
	text-align: right;
	margin-right: 0px;
	font-size: 9pt;
	font-family: sans-serif;
	text-decoration: none;
	color: #333333;
}
#content_box  .back_link_block a:hover{
	text-decoration: underline;
	color: blue;
}


#content_box pre{
	margin-left: 100px; 
	margin-right: 0px;
}

#content_box pre.shell{
	background-color: #444444;
	color: white;
	margin-right: 20px;
	margin-left: 70px; 
	padding: 8px;
	font-size: 8pt;
}


/******************************************/
#content_box  #faq_box{
	ssbackground-color: red;
	margin-left: 60px;
}

#content_box  #faq_box h4{
	ssbackground-color: pink;
	margin-top: 10px;
	margin-bottom: 2px;
	padding: 3px 10px;
	border-left: 10px solid #dddddd;
	border-top: 1px solid #dddddd;
}
#content_box  #faq_box h4 a{
	text-decoration: none;
	color: #000099;
}

#content_box  #faq_box h2 {
	text-decoration: none;
	color: #000099;
	border-left: 10px solid #dddddd;
	border: 1px solid #dddddd;
	background-color: #efefef;
	margin-top: 40px;
	margin-bottom: 10px;
	padding: 10px;
}


#content_box  #faq_box .indent{
	ssbackground-color: pink;
	font-size: 11pt;
	margin: 5px;
	padding-left: 30px;
}

#content_box  #faq_box .indent a{
	text-decoration: none;
	color: #000099;

}
#content_box  #faq_box .indent a:hover{
	text-decoration: underline;
	color: #000099;
}

/******************************************/
#content_box  .column_box{
llfloat: left;
	llwidth: 150px;
	background-color: #efefef;
	llmargin-right: 10px;
	padding: 3px;
	border: 1px solid #dddddd;
	margin: 10px;
	height: 100%;
	min-height: 300px;
}

#content_box  .column_box:hover{
	background-color: #D6E7EB;
	border: 1px solid #214073;
}


#content_box  .column_box h2{
	font-family: sans-serif;
	background-color: white;
	padding: 3px;
	border: 1px solid #dddddd;
}


#content_box  .column_box p{
	font-family: sans-serif;
	padding: 3px;
	margin: 5px;
	font-size: 10pt;
}
#content_box  .column_box li p{
	font-family: sans-serif;
	padding: 3px;
	margin: 5px;
	font-size: 10pt;
}


/********************************************************************/
/** Content table ***/
/********************************************************************/
#content_box table.listing{
	font-size: 10pt;
	font-family: sans-serif;
}
#content_box table.listing tr{
	border-bottom: 1px solid #cccccc;
}
#content_box table.listing tr.hover:hover{
	background-color: #FFFCD5;
}
#content_box table.listing td{
	padding: 6px;
}
#content_box table.listing th{
	padding: 3px;
	background-color: #efefef;
}

/********************************************************************/
/** Video Box  ***/
/********************************************************************/
#content_box .video_table{
	ssbackground-color: red;
}

#content_box .video_table th{
	background-color: #efefef;
	border: 1px solid #dddddd;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 12pt;
	text-align: left;
	padding: 5px;
}

#content_box .video_box{
	padding: 10px;
	margin: 20px 30px 10px 0px;
	text-align: center;
	clear: right;
	border-left: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid white;
	border-bottom: 1px solid white;
	height: 120px;
}
#content_box .video_box:hover{
	background-color: #eeeeee;
	border: 1px solid #dddddd;
}
#content_box .video_box a{
	
	text-decoration: none;
	display: block;
	color: black;
}
#content_box .video_box img{
	float: left;
	margin-right: 10px;
}
#content_box .video_box p{

	padding: 0px;
	margin: 0px;
	text-align: left;
	ccbackground-color: blue;
	height: 100;
}

/********************************************************************/
/** Gallery Thinbmails ***/
/********************************************************************/
.gallery_thumb_box{
	float: left;
	border: 2px solid white;	
}
.gallery_thumb_box:hover{
	border: 2px solid black;
}





/********************************************************************/
/** Page Navigation ***/
/********************************************************************/
#page_nav { 
}

#page_nav ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	font-family: sans-serif;
}

#page_nav li { 
	margin: 4px 0px 4px 0px; 
}

#page_nav a{
	display: block;
	color: #333;
	background-color: #efefef;
	padding: 2px 10px;
	text-decoration: none;
	color: #3B4E77;
	border-bottom: 1px solid #aaa;
	border-left: 10px solid #eeeeee;
	border-right: 10px solid #eeeeee;
	font-size: 9pt;
	font-weight: bold;
}

#page_nav a:hover{
	background-color: #dddddd;
	color: #444444;
	border-left-color: #91B6DF;
	border-right-color: #91B6DF;
	padding: 2px 1px 2px 10px;
}

#page_nav ul ul{
	margin-left: 30px;
	padding: 0px;
	list-style-type: none;
}

#page_nav li li a{
	display: block;
	color: #3B4E77;
	background-color: #efefef;
	sswidth: 160px;
	padding: 2px 10px;
	margin: 0px;
	border-top: none;
	border-bottom: none;
	border-left: 10px solid #eeeeee;
	border-right: 10px solid #eeeeee;
	text-decoration: none;
	font-size: 10pt;
	border-bottom: 1px solid #aaa;
}

#page_nav a.selected{
	border-left-color: #445577;
	border-right-color: #445577;
	background-color: #D7E8EC;
}



#content_box table.aircraft_list{

}
#content_box table.aircraft_list tr{
	border-bottom: 1px solid white;
}
#content_box table.aircraft_list td{
	vertical-align: top;
	border-bottom: 1px solid white;
	padding: 5px;
}
#content_box table.aircraft_list h6{
	border-right: 1px solid #D6E7EB;
	border-top: 1px solid #D6E7EB;
	font-size: 8pt;
	line-height: 110%;
	padding: 3px 0px 3px 5px;
}
#content_box table.aircraft_list td p{
	font-size: 8pt;
	line-height: 110%;
	margin: 0px;
	vertical-align: top;
}
#content_box table.aircraft_list a{
	border-top: 1px solid #efefef;
	padding: 2px;
}



#content_box table.aero th{
	padding: 5px;

	text-align: right;
	border-right: 2px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	width: 33%;
	font-size: 10pt;
	font-weight: normal;
}
#content_box table.aero td{
	padding: 8px;
	font-weight: bold;
	font-size: 10pt;
	border-bottom: 1px solid #eeeeee;
	color: #222222;
}



/********************************************************************/
/** Footer ***/
/********************************************************************/
#footer_box{
	clear: both;
	border-top: 1px solid #98A9CB;
	margin-top: 40px;
	font-family: sans-serif;
}

#footer_box p{
	font-size: 9pt;
	margin: 10px;
}



/********************************************************************/
/** Portal Box ***/
/********************************************************************/
.portal_box{
	background-color: #efefef;
	float: left;
	margin: 10px;
	padding: 5px;
	border: 1px outset #fefefe;
	width: 250px;
	border-radius: 7px;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
}
.portal_box h2{
	border-bottom: 1px solid #3887CE;
	font-family: sans-serif;
	font-size: 10pt;
	padding: 5px;
	margin: 0px;
	color: #444444;
}
.portal_box ul{
	list-style-type: none;
	margin: 10px;
}

.portal_box li a{
	display: block;
	font-family: sans-serif;
	font-size: 10pt;
	padding: 4px;
	text-decoration: none;
	border-left: 3px solid #efefef;
	border-right: 3px solid #efefef;
}
.portal_box li a:hover{
	background-color: white;
	color: blue;
	text-decoration: none;
	border-left: 3px solid #7195CC;
	border-right: 3px solid #7195CC;
}
