<div class="portal_box">
		<h2>Download &amp; Install</h2>
		<ul>
			<li>{link site=www section=download text='Download Flightgear'}</li>
			<li><a href="#">Download Aircraft</a></li>
			<li><a href="#">Download Scenery</a></li>
			<li><a href="#">Supporting software and plugins</a></li>
		</ul>
	</div>

	<div class="portal_box">
		<h2>Aircraft</h2>
		<ul>
			<li>{link section=aircraft text='Download Flightgear'}</li>
			<li><a href="http://wiki.flightgear.org/index.php/Aircraft">Wiki Aircraft</a></li>
			<li><a href="http://liveries.flightgear.org/">Liveries</a></li>
			<li><a href="#">Aircraft Design</a></li>
		</ul>
	</div>


	<div class="portal_box">
		<h2>Media</h2>
		<ul>
			<li>{link site=www section=media page=videos text='Videos'}</li>
			<li>{link site=www section=media page=gallery text='Gallery'}</li>
			<li><a href="#">Latest Dev Features</a></li>
			<li><a href="#">Training Videos</a></li>
		</ul>
	</div>

	<div class="portal_box">
		<h2>Scenery</h2>
		<ul>
		<li><a href="http://wiki.flightgear.org/index.php/Terrasync">Terra Sync</a></li>
		<li><a href="#">Download Scenery</a></li>
		<li><a href="http://wiki.flightgear.org/index.php/World_Scenery">World Scenery</a></li>
		<li><a href="http://wiki.flightgear.org/index.php/Howto:_Create_custom_scenery">How to create Scenery</a></li>
		<li><a href="http://mapserver.flightgear.org/">Map Server Website</a></li>
		<li><a href="http://scenemodels.flightgear.org/">Scene Models Website</a></li>
		</ul>
	</div>

	<div class="portal_box">
		<h2>Online &amp; Multi Player</h2>
		<ul>
			<li><a href="#">Pilots</a></li>
			<li><a href="#">ATC</a></li>
			<li><a href="http://mpmap01.flightgear.org/mpstatus/">MP Status</a></li>
			<li><a href="http://mpmap01.flightgear.org/">Map Server #01</a></li>
			<li><a href="http://mpmap02.flightgear.org/">Map Server #02</a></li>
			<li><a href="#">MP Map WebSocket Xperimental</a></li>


		</ul>
	</div>

	<div class="portal_box">
		<h2>Featured Hangars</h2>
		<ul>
			<li><a href="http://sydhangar.daffodil.uk.com/">Syd Hangar</a></li>
			<li><a href="#">Helijah FGFS Hangar</a></li>
			<li><a href="#">David Culp Hangar</a></li>
			<li><a href="#">DFaber Hangar</a></li>
			
			<li><a href="#">Hoerbird Hangar</a></li>
			<li><a href="#">A-10 and A-6 stuff</a></li>
		</ul>
	</div>


	<div class="portal_box">
		<h2>Docs</h2>
		<ul>
			<li><a href="http://www.flightgear.org/Docs/FGShortRef.html">Quick Ref</a></li>
			<li><a href="http://www.4p8.com/eric.brasseur/flight_simulator_tutorial.html">Tutorial</a></li>
			<li><a href="http://www.flightgear.org/Docs/FAQ.shtml">FAQ with answers</a></li>

			
			<li><a href="http://wiki.flightgear.org/index.php/FlightGear_CVS">CVS</a></li>

		</ul>
	</div>

	<div class="portal_box">
		<h2>Developers</h2>
		<ul>
			<li><a href="#">Source Code</a></li>
			<li><a href="http://code.google.com/p/flightgear-bugs/issues/list">Issues List</a></li>
			<li><a href="http://gitorious.org/fg">Gitorious</a></li>
			<li><a href="http://wiki.flightgear.org/index.php/FlightGear_CVS">CVS</a></li>
		</ul>
	</div>

	<div class="portal_box">
		<h2>Merchandise &amp; Contact</h2>
		<ul>
			<li><a href="#">Buy DVD pack</a></li>
			<li><a href="#">Mugs, shades, tshirts, etc</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
