

	<div class="portal_box">
		{assign var=Srv value=$Site->fgMpServer}
		<h2>{$Srv->caption}</h2>
		<ul>
			{foreach from=$Srv->index() item=s}
			<li><a href="online/server/?mpserver={$s.nick}">{$s.location}</a></li>
			{/foreach}
		</ul>
	</div>

	<div class="portal_box">
		{assign var=Srv value=$Site->fgMirror}
		<h2>{$Srv->caption}</h2>
		<ul>
			{foreach from=$Srv->index() item=s}
			<li><a href="{$s.host}">{$s.location}</a></li>
			{/foreach}
		</ul>
	</div>

	<div class="portal_box">
		{assign var=Srv value=$Site->fgIrc}
		<h2>{$Srv->caption} - {$Srv->server}</h2>
		<ul>
			{foreach from=$Srv->index() item=s}
			<li><a href="{$Srv->url}{$s.location}">#{$s.location} - {$s.nick}</a></li>
			{/foreach}
		</ul>
	</div>

	<div class="portal_box">
		{assign var=Srv value=$Site->fgMpMap}
		<h2>{$Srv->caption} - {$Srv->server}</h2>
		<ul>
			{foreach from=$Srv->index() item=s}
			<li><a href="{$s.host}">#{$s.location} - {$s.nick}</a></li>
			{/foreach}
		</ul>
	</div>



