
<div id="right_box">
	

	<div class="panel_box">
		<h3>Foo</h3>
		<p>bar</p>
	</div>




</div>



<div id="content_box">

	<h1>{$Site->pageTitle()}</h1>


<p>With the Multiplayer function of {$Site->tm} you are able to see other pilots and vice-versa. This makes it possible to fly in formation, refule with tankers controlled by real people or contact real ATC'ers to ask for landing/takeoff clearence.</p>

<p>For more information, check out <a href="http://wiki.flightgear.org/index.php/Multiplayer">this wiki page</a></p>


<div class="important_box">
<p>Multiplay can cause extreme framerate drops during loading of aircraft models. Especially heavy models can cause severe lag. Therefore, it is suggested to fly in locations other than KSFO where there are fewer pilots flying around.</p>
</div>
</div>