<div id="right_box">




	<div class="panel_box">
		<h3>Coming Soon</h3>
		<p>Upload your own images, and a rankings system.</P>
	</div>

	<div class="panel_box">
		<h3>Image Hosting</h3>
		<p>This gallery is stored as a Google project<br><a href="http://code.google.com/p/flightgear-gallery/">flightgear-gallery</a></P>
	</div>
</div>



<div id="content_box">
	<h1>{$Site->pageTitle()}</h1>


{foreach item=Img from=$Site->gallery->index()}
	<div class="gallery_thumb_box" id="gallery">
	<a href="gallery/images/{$Img}" 
		rel="lightbox"><img src="gallery/thumbs/{$Img}"></a>
	</div>
{/foreach}

{literal}
<script type="text/javascript">
$(function() {
	$('#gallery a').lightBox();
});
</script>
{/literal}
</div>