<div id="right_box">
	
	<div class="panel_box">
		<h3>Random Foo</h3>
		<p>Word of the moment is <b>'{$Site->fgFoo->random()}'</b></p>
		<p>{literal}{$Site->fgFoo->random()}{/literal}
		</p>
	</div>

</div>


<div id="content_box">
	<h1>{$Site->pageTitle()}</h1>

<p>Here is a step by step example of creating a site/zone named "foo"</p>

<h3>Create top level script</h3>
<p>Create a file inder the webroot <b>foo.php</p>
{source lang=php}
<?php
//** This is foo.php script

//** load the configuration
$REQUIRE_SMARTY = 1;
// $REQUIRE_DB = 1; - dont need database on this site
require_once('config/config.inc.php');

//** Create the $Site object
$Site = new fgSite();
$Site.id = 'foo';
$Site.title = 'Foo Fun';

//** Add  to Sites Navigation
$Site->addSiteNav('foo.php', 'FooFun', $Site.id);

//** Page Navigation
$Site->addPageNav('index', 'Welcome');
$Site->addPageNav('gallery', 'Gallery', 'My Fav Pics');

//** Render to browser
$smarty->assign('Site', $Site);
$smarty->display('web_container/html');
?>
{/source}

<h3>Create Templates</h3>
<p>Create the "section" files in <b>index.html</b> and <b>gallery.htl</b> in <b>templates/foo/</b></p>
{source lang=html4strict}{literal}
<div id="right_box">
	<h3>Random Foo</h3>
	<p>{$Site->fgFoo->random()}</p>
</div>

<div id="content_box">
	<h1>{$Site->pageTitle()}</h1>
	{foreach from=$Site->fgFoo->mesages() item=Mess}
		<li>{$Mess.label}</li>
	{/foreach}
</div>
{/literal}{/source}

<h3>Create the fgFoo plugin</h3>
<p>Create the plugin class as classes/fgFoo.php</p>
{source lang='php'}{literal}
class fgFoo
{
	private = $_cache = null;

	public function bar(){
		return 'hello';
	}
	public function messages(){
		if(is_null($this->_cache)){
			//** do stuff to get data eg from db
			$this->_cache = array(
						array('label' => 'Free'),
						array('label' =>  'And'),
						array('label' => 'Open'),
						array('label' => 'Source')
			);
		}
		return $this->_cache;
	}
	public function random(){
		$messages = $this->messages();
		return $messages[array_rand($messages];
	}
}
{/literal}{/source}
</div>