{* This is a smarty comment and does not get send to browser *}

{* The right box is floted to the right, so must be included first *}
<div id="right_box">
	


</div>


{* Main Content Box *}
<div id="content_box">

	<h1>{$Site->pageTitle()}</h1>

	<p>Feeds as still a work in progress, however the idea is to expose various application data.</p>

	<p>The feeds are available at <a href="feeds/">feeds/</a></p>

	<p>By "default", it returns a "feed index" in json if no paramaters supplied</p>

	


</div>