{* This is a smarty comment and does not get send to browser *}

{* The right box is floted to the right, so must be included first *}
<div id="right_box">
	
	<div class="panel_box">
		<h3>Side Box</h3>
		<p>Something here</p>
	</div>

	{include file='webdev/snip.my_box.html'}
</div>


{* Main Content Box *}
<div id="content_box">

	<h1>{$Site->pageTitle()}</h1>

	<p>The project source is at GitHub 
		<a href="http://github.com/ac001/flightgear-php/"><b>flightgear-php</b></a>
	</p>

	<p>This is an example of a "site" zone. The check the <a href="http://github.com/ac001/flightgear-php/blob/master/webdev.php">webdev.php</a> source to see configuration</p>

	<pre>
	//** $Site props example

	$Site->id = {$Site->id}
	$Site->title = {$Site->title}

	</pre>

	<p>This displays the 
		<a href="http://github.com/ac001/flightgear-php/blob/master/templates/webdev/index.html">templates/webdev/index.html</a> template
	</p>

	<p>Check the  <a href="{$SCRIPT_NAME}?section={$Site->section}&page=plugin"><b>Plugins Demo</b></a></p>


</div>