<div id="right_box">
	
	<div class="panel_box">
		<h3>Class Documentation</h3>
		<p><a href="etc/docs/"><b>phpdoc Classes</b></a></p>
	</div>

</div>


<div id="content_box">
	<h1>{$Site->pageTitle()}</h1>


	<p>To try and keep the application clean, most application code and logic are embedded in classes</p>
	<ul>
		<li>Classes are locaated in the <b>classes/</b> directoty</li>
		<li>Class names are generally prefixed with <b>fg*</b> as a namespce, at present eg fgFoo</li>
		<li>A class must name the same filename ie <b>fgFoo.php</b></li>
	</ul>

	<p>You are encouraged to browse the existing classes for functionallity</p>

<h2>Reserved and special methods</h2>
<p>Currently the <b>feed()</b> and <b>conf()</b> method's are reserved for the <a href="feeds/">feeds/</a> service</p>
<p>See the {link section=feeds title="feeds"} section for more info</p>


<h3>Adding and Extending Functionality</h3>
<p>Lets consider adding some new functionatily with an fgWidget() class to the site<p>
<p>Simply create the class is classes/fgWidget.php, encapsulated with its code, eg</p>
{source lang='php'}{literal}class fgWidget
{
    const FOO = 'my_constant';
    private $_data = null;
    public $x;

    public function __construct(){
        //* Check if data is cached
        $cache_file = SITE_ROOT.fgSite::CACHE_DIR.'my_data.txt';
        if(file_exists($cache_file)){
            return json_decode( file_get_contents($cache_file), true);
        }
        //* load data
        $this->_data = get_data();
		file_put_contents($cache_file, json_encode($this->_data));
    }
    function data(){
        return $_data;
    }
}{/literal}{/source}
<p>This can now be called from anywhere with</p>
{source lang='php'}{literal}$widget = new fgWidget();{/literal}{/source}



<h2>Main Classes</h2>
<ul>
<li><b>fgException()</b> - exception object and utils</li>
<li><b>$Site</b>  - an instance of <b>fgSite()</b>, global and controller</li>
<li><b>$smarty</b>  - templating engine</li>
<li><b>$db</b>  - database connector</li>
<li><b>fgReponse()</b> - payload helper and packager</li>
<li><b>fgFeed()</b> - feed handler</li>
</ul>

<h2>General Classes</h2>
<ul>
<li><b>fgUtils()</b> - helpers and utilities</li>
<li><b>fgObject()</b> - a general setter/getter</li>
<li><b>fgClass()</b> - class file helper, reflection</li>
<li><b>fgMime()</b> - mime types helper</li>
</ul>



<h2>Content Classes</h2>
<ul>
<li><b>fgGallery()</b>  - gallery and images</li>
<li><b>fgForum()</b> - forum links and utils</li>
<li><b>fgMirror()</b> - ftp mirrors defned in mirrors.ini</li>
<li><b>fgIrc()</b> - IRC stuff</li>
<li><b>fgPlatform()</b>  - OS Platforms</li>
</ul>



<h3>fgObject()</h3>
<p>This is a basic setter/getter eg</p>
{source lang='php'}{literal}
$myOb = new fgObject();

$myOb->foo = 'bar';
echo $myOb->foo;

$myOb->my_array = array('foo', 'bar');
foreach($myOb->my_array as $value){
     echo $value;
}
{/literal}{/source}





</div>