<div id="right_box">
	
	<div class="panel_box">
		<h3>Random Foo</h3>
		<p>Word of the moment is <b>'{$Site->fgFoo->random()}'</b></p>
		<p>{literal}{$Site->fgFoo->random()}{/literal}
		</p>
	</div>

</div>


<div id="content_box">
	<h1>{$Site->pageTitle()}</h1>


<p>The application makes extensive use of and somewhat relies on the php5's ) function
 <a href="http://php.net/manual/en/language.oop5.autoload.php">__auto_load</a> function, which is setup on the config.</p>

<p>This means that "classes" are loaded on demand and when called, and had two "scenaios"</p>
<ul>
	<li>A regonised lib eg $smarty</li>
	<li>Or a class from classes/</li>
	<li>Otherwise it fails</li>
</ul>
<p>Below is a brief example snippet of __autoload() usage</p>
<pre class="php">{literal}
//* snippet from config.inc.php
function __autoload($class_name){

  switch($class_name){

     //* a know lib
     case: 'fooLib':
        require_once('libs/my_foo_lib.php');
        require_once('libs/my_foo_lib.my_driver.php');
        return;

    //* From in classes/
    default:
        require_once(SITE_ROOT."classes/$class_name.php");
    }
}

//* Autolading in php
$foo = new fooLib();

//* will load classes/fgFoo.php
$myClass = new fgFoo();{/literal}
</pre>

<h3>$Site object autoloading()</h3>
<p>One of the cool things about autoloading is that a class can be called from a template, removing the need to $smarty->assign() variable's. This makes creating "plugins" and adding functionallity easy.</p>
<p>The <b>$Site</b> object through its <b><a href="http://www.php.net/manual/en/language.oop5.overloading.php">__get()</a></b> overload, automatically looks for a class in classes/, autoloads and creates and instance eg</p>
<pre class="php">{literal}
{* First call autoloads fgFoo.php class *}
{$Site->fgFoo->bar()}

{* Subsuquent calls reference existing object *}
{$Site->fgFoo->funk()}

{* There's no errors handlers for non existant classes; yet *}
{$Site->fgNotExist->bar()}

{/literal}</pre>



</div>