{* DEAD idea
{literal}
<script>

function set_localhost(){	
	var host = $('#local_host').val();
	var user = $('#local_user').val();
	var url = "http://" + host + "/~" + user
	Ext.fg.msg("Changed to",url);
	var links = $('a.localhost');
	links.css('background-color','#cccccc');
	links.attr("href",url);
	links.text(url);
	console.log(links);
	
}
{/literal}
</script>

	<p>First enter the login on your current machine now<br>
        <input type="text" value="local" id="local_host">
        <input type="text" value="flight-sim" id="local_user">
		<input type="button" value="Set" onclick="set_localhost()">
	</p>
	
<a href="http://localhost">http://localhost</a>

*}


<div id="right_box">

	{include file='webdev/snip.docs_box.html'}

</div>



<div id="content_box">
	<h1>{$Site->pageTitle()}</h1>

	<h2>How to run on http://localhost</h2>

	<p>Required: Apache and php5 are installed.</p>

<p>In the example below the  the <b>user_name</b> is  your  <b>public_html/</b> directory.</p>
<p><a class="localhost" href="http://localhost/~user/flightgear-php">http://localhost/~user/flightgear-php</a></p>


<h3>Clone this repository</h3>
<p>Take a git clone of the repository</p>
{source lang='bash'}cd ~user_name/public_html/
git clone git@github.com:ac001/flightgear-php.git{/source}


<h3>Apache File Permissions</h3>
<p>Make the <b>_-rw_cache__/</b> directory writable by webserver server</p>
{source lang='bash'}cd flightgear-php
chmod +w __rw_cache__{/source}

<h3>Database setup</h3>
<p>Its assumed you can create a database, user with premissions already</p>
<p>Copy the skeleton database config file to <b>DB.php</b></p>
{source lang='bash'}cp config/DB.skel.php config/DB.php
{/source}
<p>Set the driver, credentials and database</b></p>
{source lang='php'}$DB['driver'] = 'mysqli';
$DB['server'] = 'localhost';
$DB['user'] = 'flightgear';
$DB['pass'] = 'sectet';
$DB['db'] = 'flightgear_www';
{/source}
<p>Create or update the database schema by running the <b>db_create_update.php</b> script. Notes
that this will not loose data in anyway, it just creates tables, columns, redefine cols based on the config in <b>DB_DEF.php</b></p>
{source lang='bash'}cd etc/
php ./db_create_update.php
{/source}
<p>If you want som skel data, then run the <b>import_ini.php</b> script to polulate from ini files</p>
{source lang='bash'}cd etc/
php ./import_ini.php
{/source}

<h3>Download Gallery</h3>
<p>The gallery is not included in the repository. To fetch the gallery run the <b>etc/checkout_gallery.sh</b> script.
This will create a <b>gallery/</b> directory and then checkout a version from google svn.</p>
{source lang='bash'}cd etc/
./checkout_gallery.sh{/source}

<h3>View it</h3>
<p>Now point your browser at</p>
<p><a class="localhost" href="http://localhost/~user/flightgear-php">http://localhost/~user/flightgear-php</a></p>


</div>