{* This is a smarty comment and does not get send to browser *}

{* The right box is floted to the right, so must be included first *}
<div id="right_box">
	

	<div class="panel_box">
		<h3>Class Documentation</h3>
		<p><a href="etc/docs/"><b>phpdoc Classes</b></a></p>
	</div>


	<div class="panel_box">
		<h3>Smarty</h3>
		<img src="http://www.smarty.net/gifs/smarty_icon.gif" style="float:right; margin: 5px;" alt="smarty">
		<p>Powered by Smarty<br>
		<a href="http://smarty.net">smarty.net</a></p>
		<p><a href="http://www.smarty.net/manual/en/"><b>Manual</b></a></p>
	</div>	

</div>


{* Main Content Box *}
<div id="content_box">

	<h1>{$Site->pageTitle()}</h1>

	<p>The project's source is at currently hosted GitHub<br>
		<a href="{$Site->git_url}">{$Site->git_url}</a>
	</p>
	
	<p>To get help, make suggestions, get commit acccess then contact <b>ac001</b> on irc</p>

	<p>The "site" is a bit of a lightweight framework that uses smarty templating. Hopefully this section will
		take you throught the steps to get up and running.</p>

	<p>The "design" of this site is intended to be flexible, including more development toward's multi lang and automation.</p>


</div>