
{* The right box is floted to the right, so must be included first *}
<div id="right_box">
	


</div>


<div id="content_box">

	<h1>{$Site->pageTitle()}</h1>

	<p>Here are some thought's are recommendations for using in a production enviroment</p>
	
	<ul>
		<li>The target enviroment would be a dedicated server with a LAMP stack</li>
		<li>php5, xcache, mod_rewrite configured</li>
		<li>Shell access and cron</li>
		<li>git client installed, sites are "pulled" straight onto server</li>
	</ul>
	<p>Useful extras</p>
	<ul>
		<li>Python 2.6+</li>
		<li>Memcached server</li>
		<li>A Deamon</li>
		<li>A multiplayer server running socket as listener</li>
	</ul>	

</div>