
	{* <h1>{$Aero->name}</h1> *}


	<table width="50%" class="aero_table">
		<tr><th>Aero</th><td>{$Aero->aero}</td></tr>
		<tr><th>Authors</th><td>{$Aero->author}</td></tr>
		<tr><th>Flight Model</th><td>{$Aero->fdm}</td></tr>
		<tr><th>Version</th><td>{$Aero->version}</td></tr>
		<tr><th>Manufacturer</th><td>--todo--</td></tr>
		<tr><th>Class</th><td>--todo--</td></tr>
		<tr><th>Propulsion</th><td>--todo--</td></tr>
		<tr><th>Engines</th><td>--todo--</td></tr>
		<tr><th>Directory</th><td>{$Aero->directory}/</td></tr>
	</table>

	{* aero splash=500 aero=$Aero *}

