


<div id="right_box">
	
	<div class="panel_box">
		<h3>Notam</h3>
		<img src="images/missc/notam.gif" style="float: right; margin: 10px;" alt="notam">
		<p>Would all pilots try and avoid <b>mpserver02</b> as its often overloaded.</p>
	</div>

	<div class="panel_box">
		<h3>Notam</h3>
		<img src="images/missc/notam.gif" style="float: right; margin: 10px;" alt="notam">
		<p>Would all pilots try and avoid <b>mpserver02</b> as its often overloaded.</p>
	</div>

</div>


{* Main Content Box *}
<div id="content_box">

<h1>Aircraft Database</h1>
<p>Search the data base using the widget on the left</p>


</div>

