<div id="right_box">
	
	<div class="panel_box">
		<h3>Random Foo</h3>
		<p>Word of the moment is <b>'{$Site->fgFoo->random()}'</b></p>
	</div>

</div>


<div id="content_box">
	<h1>{$Site->pageTitle()}</h1>


	<p>The class <b><a href="http://github.com/ac001/flightgear-php/blob/master/classes/fgFoo.php">fgFoo.php</a></b></b> is autoloaded by a call in template.</p>
	<pre>{literal}{$Site->fgFoo->bar()}{/literal}</pre>
		


	<h2>{$Site->fgFoo->bar()}</h2>

	<ul>
	{foreach from=$Site->fgFoo->messages() item=Mess}
		<li>{$Mess.label}</li>
	{/foreach}
	</ul>

</div>