<div id="right_box">
	
	<div class="panel_box">
		<h3>Latest Version</h3>
		<p><a href="#"><b>v2.0.0</b></a> - 18 Feb 2010</p>
		<p>A new major update of the glihht gear simulator. Please check the readme</p>
	</div>

	{include file='_foo_/snip.my_box.html'}
</div>


<div id="content_box">
	<h1>{$Site->pageTitle()}</h1>

	<p>The project source is at GitHub <a href="http://github.com/ac001/flightgear-php/"><b>flightgear-php</b></a></p>

	<p>
	This is an example of a "site" zone. The check the <a href="http://github.com/ac001/flightgear-php/blob/master/foo.php">foo.php</a> source to see configuration<p>
	</p>

	<pre>
	//** $Site props example

	$Site->id = {$Site->id}
	$Site->title = {$Site->title}

	</pre>

	<p>This displays the <a href="http://github.com/ac001/flightgear-php/blob/master/templates/_foo_/index.html">templates/_foo_/index.html</a> template</p>

	<p>Check the  <b>Plugins Demo</b></p>


</div>