<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Slidy template for W3C Blue2 Style</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="copyright" content="Copyright &#169; 2005 W3C (MIT, ERCIM, Keio)" />
<meta name="font-size-adjustment" content="-1" />
<link rel="stylesheet" href="fg.slidy.1.css"
 type="text/css" media="screen, projection, print" />
<script src="Slidy/slidy.js" type="text/javascript">
</script>
</head>
<body>
<!-- this defines the slide background -->
<div id="flight_gear_logo"><a href="?" title="Return to Slide Show index"><img  alt="" src="../images/fg.small.png"/></a></div>

<div class="background">

{include file=$slide_show_file}


</div>





</body>
</html>
