<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1;">
<title>{$Site->pageTitle()} | {$Site->title}</title>


<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery-lightbox-0.5/js/jquery.lightbox-0.5.js"></script>
<link rel="stylesheet" type="text/css" href="js/jquery-lightbox-0.5/css/jquery.lightbox-0.5.css" media="screen">


<link rel="stylesheet" type="text/css" href="style_sheets/reset.css">
<link rel="stylesheet" type="text/css" href="style_sheets/www.1.css">


<script type="text/javascript" src="/js/front.js"></script>

</head> 

<body>

<!--## Main Container to center and padd -->
<div id="main_container">

<!--####################################################################################-->
<!--### Left Container = logo and page nav ###-->
<!--###################################################################################-->
<div id="left_container">

	<!--## Logo ##-->
	<div id="flightgear_logo_box">
		<div id="flightgear_logo"><img src="images/flightgear.png" alt="flightgear"></div>
	</div>

	<!--## Page Navigation  ##-->
	<div id="page_nav">
		<ul>
		{foreach item=Nitem from=$Site->pageNav()}
			<li><a {if $Nitem.section == $Site->section and !$Site->page}class="selected"{/if} href="?section={$Nitem.section}" >{$Nitem.label}</a>
			{if $Nitem.subnav}
			<ul>
			{foreach item=Nsub key=sub_sec from=$Nitem.subnav}
				<li><a {if $Nsub.page == $Site->page}class="selected"{/if} 
						href="?section={$Nitem.section}&page={$Nsub.page}">{$Nsub.label}</a></li>
			{/foreach}
			</ul>
			{/if}
		{/foreach}
		</ul>
	</div>

	<!--## Atom Link  ##-->
	<p style="text-align: right; margin-top: 5px;"><a href="#"><img src="images/missc/feed_atom.gif" alt="atom"></a></p>

</div><!-- left_container -->



<div id="header_container">

	<!--######################################################-->
	<!-- ### Inter Site Nav ###-->
	<div id="sites_nav">
		<ul>
			{foreach item=Snav from=$Site->sitesNav()}
			<li><a href="{$Snav.url}" {if $Snav.id == $Site->id}class="selected"{/if}>{$Snav.label}</a></li>
			{/foreach}
		</ul>
	</div>

	<h1>{$Site->title}</h1>
	<h2>The World's Leading Open Source Flight Simulator</h2>

	<div id="mp_header">
	<table>
		<tr>
		<th>{* Google Search **}
			<form action="http://www.google.com/cse" ssid="cse-search-box" class="toolbar_form">
			<div>
				<input type="hidden" name="cx" value="" />
				<input type="hidden" name="ie" value="UTF-8" />
				<input type="text" name="q" size="21" />
				<input type="submit" name="sa" value="Search" />
			</div>
			</form>
			<script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&lang=en"></script></th>
		<td class="mp_label"><a href="#">Pilots &gt;</a></td>
		<td class="mp_value">--</td>
		<td class="mp_label"><a href="/idea/multiplayer/atc/">Atc &gt;</a></td>
		<td class="mp_value">--</td>
		<td class="mp_label"><a href="/idea/multiplayer/atc/">Servers &gt;</a></td>
		<td class="mp_value"><span class="status_up">0 Up</span></td>
		<td class="mp_value"><span class="status_down">0 down</span></td>
		</tr>
	</table>
	</div>
</div>


<!--####################################################################################-->
<!--### Content Container =  MAIN content ###-->
<!--###################################################################################-->
<div id="content_container">
	{include file=$Site->contentTemplate()}
</div>


<!--####################################################################################-->
<!--### Footer =   content ###-->
<!--###################################################################################-->
<div id="footer_box">
	<p>&copy; 1996 - {$smarty.now|date_format:'Y'}+ FlightGear posse - all right reserved etc</p>
	<p>{$Site->contentTemplate()}</p>
</div><!-- end footer-->

</div><!-- end main_container -->





<!-- Brandano: chow, did you spot any bugs ?? visit #flightgear and complain to ac001 with a patch ;-) -->

</body> 
</html>