<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1;">
<title>{$Site->pageTitle()} | {$Site->title}</title>

<link rel="SHORTCUT ICON" href="images/favicon.png">

<link rel="stylesheet" type="text/css" href="{$JS_LIBS}js/ext-3.1.1/resources/css/ext-all.css">

<script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&lang=en"></script>

<script type="text/javascript" src="{$JS_LIBS}js/ext-3.1.1/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="{$JS_LIBS}js/ext-3.1.1/ext-all.js"></script>
<!--<script type="text/javascript" src="js/ext-3.1.0/ext-all.js"></script>-->
<script type="text/javascript" src="js/Ext.fg.js"></script>

<script type="text/javascript" src="{$JS_LIBS}js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{$JS_LIBS}js/jquery-lightbox-0.5/js/jquery.lightbox-0.5.js"></script>
<link rel="stylesheet" type="text/css" href="{$JS_LIBS}js/jquery-lightbox-0.5/css/jquery.lightbox-0.5.css" media="screen">


<link rel="stylesheet" type="text/css" href="style_sheets/icons.php">
<link rel="stylesheet" type="text/css" href="style_sheets/reset.css">
<link rel="stylesheet" type="text/css" href="style_sheets/flightgear.1.css">
{if $Site->skin}
<link rel="stylesheet" type="text/css" href="style_sheets/{$Site->skin}">
{/if}

</head> 

<body>
<!--## Main Container to center and padd -->
<div id="main_container">

<!--####################################################################################-->
<!--### Left Container = logo and page nav ###-->
<!--###################################################################################-->
<div id="left_container">

	<!--## Logo ##-->
	<div id="flightgear_logo_box">
		<div id="flightgear_logo"><a href="index.php"><img src="images/flightgear.png" alt="flightgear"></a></div>
		<div id="flightgear_leading">The World's Leading Open Source Flight Simulator</div>
	</div>


	{if $nav_content}
		{include file=$nav_content}
	{else}
        <!--## Page Navigation  ##-->
        <div id="page_nav">
            <ul>
            {foreach item=Nitem from=$Site->pageNav()}
                <li><a {if $Nitem.section == $Site->section and !$Site->page}class="selected"{/if} href="?section={$Nitem.section}" >{$Nitem.label}</a>
                {if $Nitem.subnav}
                <ul>
                {foreach item=Nsub key=sub_sec from=$Nitem.subnav}
                    <li><a {if $Nsub.page == $Site->page}class="selected"{/if} 
                            href="?section={$Nitem.section}&page={$Nsub.page}">{$Nsub.label}</a></li>
                {/foreach}
                </ul>
                {/if}
            {/foreach}
            </ul>
        </div>
	{/if}
    {if isset($nav_include)}
        {include file=$nav_include}
    {/if}

	<!--## Atom Link  ##-->
	{*<p style="text-align: right; margin-top: 40px;"><a href="#"><img src="images/missc/feed_atom.gif" alt="atom"></a></p>*}

</div><!-- left_container -->



<div id="header_container">

	<!--######################################################-->
	<!-- ### Inter Site Nav ###-->
	<div id="sites_nav">
		<ul>
			{foreach item=Snav from=$Site->sitesNav()}
			<li><a href="{$Snav.url}" {if $Snav.id == $Site->id}class="selected"{/if}>{$Snav.label}</a></li>
			{/foreach}
		</ul>
	</div>

	
	<h1>{$Site->title}</h1>
    {*
    <div id="mp_toolbar">
         <table>
            <tr>
                {foreach from=$Site->fgMpServer->status() item=i key=srv}
                    <th>{$srv}</th>
                {/foreach}
                <td>
            </tr>
            <tr>
                {foreach from=$Site->fgMpServer->status() item=i key=srv}
                    <th>{$i.status}#</th>
                {/foreach}
                <td>
            </tr>
            <tr>
                {foreach from=$Site->fgMpServer->status() item=i key=srv}
                    <th>{$i.count}#</th>
                {/foreach}
                <td>
            </tr>
            <tr>
            <th><a href="#">Pilots &gt;</a></th>
            <td>--</td>
            <th><a href="#">ATC &gt;</a></th>
            <td>--</td>
            <th><a href="#">Servers &gt;</a></th>
            <td><span class="status_up">0 Up</span></td>
            <td><span class="status_down">0 down</span></td>
            </tr> 
        </table>
    </div>
      *}
	<div class="toolbar">

        {**** Google Search ***********************************************}
		<div class="box">
			<h5>Search</h5>
            <form action="http://www.google.com/cse" id="cse-search-box">
            <div>
                <input type="hidden" name="cx" value="014455812952330413319:ze4oflhikd8">
                <input type="hidden" name="ie" value="UTF-8">
                <input type="text" name="q" size="10">
                <input type="submit" name="sa" value="Go">
            </div>
            </form>
		</div>

        {**** Online ***********************************************}
		<div class="box">
			<h5>Online</h5>
                <div id="mp_toolbar">
				<table>
					<tr>
                        <th><a href="#">Pilots</a></th>
                        <th><a href="#">ATC</a></th>
                        <th><a href="#">Servers</a></th>
                    </tr>
                    <tr>
                        <td>offline</td>
                        
                        <td>offline</td>
                        
                        <td>offline</td>
 
					</tr>
				</table>
            </div>
		</div>

     {**** Set Style ***********************************************}
	<div class="box">
		<h5>Set Style</h5>
		<form method="get">
			<input type="hidden" name="section" value="{$Site->section}">
			<input type="hidden" name="page" value="{$Site->page}">
			<input type="hidden" name="do" value="set_skin">
			{html_options selected=$Site->skin options=$Site->fgStyle->skins() name=skin}
			<input type="submit" value="Set Skin">
		</form>
	</div>

     {**** members ***********************************************}
    {*
	<div class="box">
		<h5>Members</h5>
		<form id="frm_login"><input type="button" value="Login" disabled=1></form>
	</div> *}

    {**** Slide Shows ***********************************************}
    <div class="box">
        <h5>New</h5>
        <form id="frm_login" action="slide_shows/" method="get">
            <input type="submit" value="Slide Shows">
        </form>
    </div>


    </div>



</div>


<!--####################################################################################-->
<!--### Content Container =  MAIN content ###-->
<!--###################################################################################-->
<div id="content_container">
	{include file=$Site->contentTemplate()}
</div>


<!--####################################################################################-->
<!--### Footer =   content ###-->
<!--###################################################################################-->
<div id="footer_container">
	<p>&copy; 1996 - {$smarty.now|date_format:'Y'}+ FlightGear posse - all right reserved etc</p>
	<p>{$Site->contentTemplate()} skin={$Site->skin}- <a href="debug.php">debug.php</a> - <a href="etc/php.php">phpinfo()</a></p>
</div><!-- end footer-->

</div><!-- end main_container -->


<!-- Brandano: chow, did you spot any bugs ?? visit #flightgear and complain to ac001 with a patch ;-) -->

</body> 
</html>